/.venv
/.vscode
/FVS2026011T_NWL_Holland_signed_sign.pdf
/MariuszDyla.p12
/SignPdf.build
/SignPdf.dist
/SignPdf.onefile-build
/WW2411A.pdf
/WW2411A_sign.pdf
/WZ2601A-sigMD_sign.pdf
/dokument.pdf
/dokument_ES.pdf
/dokument_sign.pdf
/dokument_sign_sign.pdf
/podpis.png