# ---------------------------------
# Cache Pythona
# ---------------------------------
__pycache__/
*.pyc
*.pyo

/.venv*
*.pdf
*.p12
*.sh
!/image/*.png
/dist
!/dist/SignPdf
config/app_config.json
SignPdf.log
exported_code.txt